.geidea-section .geidea-payment-logo {background: url("images/geidea-logo.svg")  no-repeat 0 0% / 18rem auto; height: 100px; width: auto; padding-left: 20rem; display:inline-block; vertical-align: middle;}
.geidea-section .button-container {float: right;}
.geidea-section .geidea-payment-text { display: inline-block; vertical-align: middle; width: 50%}