<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <geidea_payment>
                <active>1</active>
                <title>Geidea Payment</title>
                <model>GeideaFacade</model>
                <order_status>pending_payment</order_status>
                <can_use_checkout>1</can_use_checkout>
                <reserveUrl>geidea/payment/reserve</reserveUrl>
                <callbackUrl>geidea/payment/callback</callbackUrl>
                <merchantKey>1ae97673-bc01-49fa-bfd6-c26abefe0c1d</merchantKey>
                <geideaSdkUrl>https://www.merchant.geidea.net/hpp/geideapay.min</geideaSdkUrl>
            </geidea_payment>
        </payment>
    </default>
</config>

<!--
    1. Настроить отображение в админке formBlockType di.xml
    2. Ограничить валюты SAR | USD | EGP
-->