<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <geidea_payment>
                <active>0</active>
                <title>Geidea Online Payments</title>
                <logoUrl></logoUrl>
                <headerColor></headerColor>
                <model>GeideaFacade</model>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_capture_vault>1</can_capture_vault>
                <cctypes_mapper><![CDATA[{"american-express":"AE","discover":"DI","jcb":"JCB","mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI","diners-club":"DN","unionpay":"CUP"}]]></cctypes_mapper>
                <paymentInfoKeys>orderId,currency,detailedStatus,customerEmail,totalAuthorizedAmount,totalCapturedAmount,totalRefundedAmount,createdDate,updatedDate</paymentInfoKeys>
                <reserveUrl>geidea/payment/reserve</reserveUrl>
                <authorizeUrl>geidea/payment/authorize</authorizeUrl>
                <callbackUrl>geidea/payment/callback</callbackUrl>
                <captureUrl>https://api.merchant.geidea.net/pgw/api/v1/direct/capture</captureUrl>
                <payByTokenUrl>https://api.merchant.geidea.net/pgw/api/v1/direct/pay/token</payByTokenUrl>
                <merchantKey></merchantKey>
                <merchantPassword></merchantPassword>
                <receiptEnabled>0</receiptEnabled>
                <currencies>EGP,SAR,USD</currencies>
            </geidea_payment>
            <geidea_payment_vault>
                <active>0</active>
                <model>GeideaVaultFacade</model>
                <title>Stored Cards (Geidea)</title>
                <payment_action>authorize_capture</payment_action>
            </geidea_payment_vault>
        </payment>
    </default>
</config>
