<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="GeideaFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Geidea\Payment\Model\GeideaModel::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">GeideaValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">GeideaValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">GeideaCommandPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="GeideaValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GeideaConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GeideaConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Geidea\Payment\Model\GeideaModel::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="GeideaConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GeideaConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="GeideaValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool"></virtualType>
    <virtualType name="GeideaCommandPool" type="Magento\Payment\Gateway\Command\CommandPool"></virtualType>
</config>
