<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Geidea_Payment::customer_tokens" title="Geidea Tokens" module="Geidea_Payment" sortOrder="1000" parent="Magento_Customer::customer" resource="Geidea_Payment::customer_tokens" action="geidea_tokens/index/index/"/>
    </menu>
</config>